@model BookStore.ViewModels.LoginView

@{
    Layout = "~/Views/Shared/_BookStoreLayout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using(Html.BeginForm())
{
    <table align="center">
        <tr>
            <td style="color:#e80c4d;font-size: 1em;font-weight: bold;border:1px solid transparent;text-align:left;">@ViewData["Error"]</td>
        </tr>
        <tr>
            <td style="border:1px solid transparent;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-bottom:0;text-align:left;">
                <fieldset style="width:285px;padding:10px;">
                    <legend style="color:#494545;font-size:1.2em;">會員登入</legend>
                    帳號：@Html.TextBoxFor(model => model.Account, new { @class = "singleTextBox" })
                    <span style="margin-left:40px;display:inline;white-space:nowrap;">@Html.ValidationMessageFor(model => model.Account)</span><br />
                    密碼：@Html.PasswordFor(model => model.Password, new { @class = "singleTextBox" })
                    <span style="margin-left:40px;display:inline;white-space:nowrap;">@Html.ValidationMessageFor(model => model.Password)</span><br />
                </fieldset>
            </td>
        </tr>
        <tr>
            <td style="border-bottom:0;">
                <input type="submit" value="登入" />
            </td>
        </tr>
        <tr>
            <td style="color:darkred;"><br /><br />(測試帳號 : apple01 / 測試密碼 : apple01123)</td>
        </tr>
    </table>
}