<div id="changePwd" title="變更密碼" style="display:none;text-align:left;width:370px;height:300px;">
	<fieldset style="width:370px;text-align:left;font-size:16px;">
		<legend style="color:#494545;font-size:1em;">請輸入密碼</legend>
            <table style="width:370px;font-size:12px;padding:0;">
                <tr>
                    <td style="width:60px;font-size:1em;border:1px solid transparent;" nowrap>輸入舊密碼：</td><td style="border:1px solid transparent;"><input type="password" id="olduserpwd" name="olduserpwd" class="required" /> <span id="errorMessage_olduserpwd" class="errorMessage" style="color:#e80c4d;">請輸入舊密碼</span><br /></td>
                </tr>
		        <tr>
                    <td style="width:60px;font-size:1em;border:1px solid transparent;" nowrap>輸入新密碼：</td><td style="border:1px solid transparent;"><input type="password" id="newuserpwd" name="newuserpwd" class="required" /> <span id="errorMessage_newuserpwd" class="errorMessage" style="color:#e80c4d;">請輸入新密碼</span><br /></td>
		        </tr>
                <tr>
                    <td style="width:60px;font-size:1em;border:1px solid transparent;" nowrap>確認新密碼：</td><td style="border:1px solid transparent;"><input type="password" id="varifypwd" name="varifypwd" class="required" /> <span id="errorMessage_varifypwd" class="errorMessage" style="color:#e80c4d;">請輸入確認密碼</span><br /></td>
		        </tr>		    
	        </table>
    </fieldset>
</div>
