@{
    ViewBag.Title = "首頁";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                若要進一步了解 ASP.NET MVC，請造訪
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>。
                這個網頁的特色在於 <mark>影片、教學課程和範例</mark> ，可協助您深入了解 ASP.NET MVC。
                如果您對 ASP.NET MVC 有任何疑問，請造訪
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC 論壇">我們的論壇</a>。
            </p>
        </div>
    </section>
}
<h3>我們建議下列事項:</h3>
<ol class="round">
    <li class="one">
        <h5>開始使用</h5>
        ASP.NET MVC 提供功能強大的模式型方式來建置動態網站，
        而動態網站可清楚區隔重點，並讓您完全控制用於進行
        有趣且靈活開發的標記。ASP.NET MVC 包括的許多功能，
        可啟用快速且 TDD 適用的開發，以建立使用最新 Web 標準的
        精密應用程式。
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">進一步了解...</a>
    </li>

    <li class="two">
        <h5>加入 NuGet 套件並開始編碼</h5>
        NuGet 可讓您輕鬆地安裝並更新免費的程式庫和工具。
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">進一步了解...</a>
    </li>

    <li class="three">
        <h5>尋找 Web 裝載</h5>
        您可以輕鬆地尋找可為您的應用程式提供適當功能及價格的
        Web 裝載公司。
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">進一步了解...</a>
    </li>
</ol>
