@section featured {
    <section class="featured">
        <div class="content-wrapper"></div>
    </section>
}

<table align="center">
    <tr>
        <td style="border:1px solid transparent;">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="text-align:left;border:1px solid transparent;word-spacing:5px;">您好:<br /><br />
            歡迎您進入BookStore Online後端管理平台。<br />
            請由上方功能表列選擇應用程式!
        </td>
    </tr>
</table>
