@model System.Web.Mvc.HandleErrorInfo

@section featured {
    <section class="featured">
        <div class="content-wrapper"></div>
    </section>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "錯誤";
}

@{
    //IErrorHandler _iLogHandler = LogManager.GetHandler("Log");
    //_iLogHandler.Error(Model.Exception, Model.Exception.Message, Model.ControllerName, Model.ActionName);
}

<table style="text-align:left;" align="center">
    <tr>
        <td style="border:1px solid transparent;">
            <hgroup class="title">
                <h3 class="error">訊息：處理您的要求時發生錯誤。</h3>
                <br />
                @{
                    string controllerName = Model.ControllerName;
                    string actionName = string.Empty;
                    if (controllerName.Equals("Purchase") || controllerName.Equals("Stock"))
                    {
                        actionName = controllerName + "TitleIndex";
                    }
                    else
                    {
                        actionName = controllerName + "Index";     
                    }   
                }
                <h5>建議：1.回到上次作業中的 @Html.ActionLink("應用程式", actionName, controllerName, "", new { style = "text-decoration:underline" }) <br /> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.請由上方功能表列選擇應用程式</h5>
                <br />
                <br />
            </hgroup>
        </td>
    </tr>
</table>
